*{
    /* text-decoration: none; */
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.grid
{
    display:grid;
    grid-template-rows: 15vh 85vh;
    grid-template-columns: 15vw 85vw;
    grid-template-areas: 
    "item1 item2"
    "item1 item3"
    ;

}
.item1
{
    background-color: #091868;
    grid-area: item1;   
}
.item2
{
    background-color: #FFC83B;
    grid-area: item2;
    display: flex; 
    flex-wrap: nowrap; 
}
.item3
{
    background-color: #054CBF; 
    grid-area: item3; 
    display: flex;
    flex-wrap: wrap;  
    /* justify-content: center; */
    align-items: center;
}
.img1
{
    /* position: fixed; */
    margin: 50px 10px 0px 10px;
    width: 180px;
}
.words{
    color: white;
    text-align: center;
    margin: 45px 0px;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: rgba(245, 245, 245, 0.384);
}
.word2{
    font-size: 50px;
    margin: 30px 0px 0px 60px;
}
.word3{
    font-size: 50px;
    margin: 30px 0px 0px 300px;
    text-align: end;
}
.img2
{
    /* position: fixed; */
    margin: 45px 0px 0px 5px;
    height: 42px;
    width: 40px;
}


/* ================================================ */
.assignments{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    /* border: yellow solid 2px; */
    align-items: center;
    margin-left: 6vw;
}
    .one{
        margin-right: 40%;
    }
    .two{
        color: white;
        font-size: 3vh;
        margin-top: 2.5vh;
        text-align: left;
        display: grid;
        grid-template-rows: 5vh 5vh 5vh 5vh;
        grid-template-columns: 18vw 18vw;
        grid-template-areas: 
        "1-1 1-2"
        "2-1 2-2"
        "3-1 3-2"
        "4-1 4-2"
        ;
    }
    .a1-1{
        grid-area: 1-1;

    }
    .a1-2{
        grid-area: 1-2;
        text-align: right;

    }
    .a2-1{
        grid-area: 2-1;
    }
    .a2-2{
        grid-area: 2-2;
        text-align: right;
    }
    .a3-1{
        grid-area: 3-1;
    }
    .a3-2{
        grid-area: 3-2;
        text-align: right;
    }
    .a4-2{
        grid-area: 4-1;
        text-align: right;
        text-decoration: underline;
        }
    .title1{
        font-size:5vh;
        color: white;

    }
    .img3{
        height: 6vh;
        width: 3vw;
    }
    /* ========================== */
.boxx{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    /* border: yellow solid 2px; */
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}
    .grade{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22vw;
        height: 22vw;
        background-color:#091868;
        font-size: 16.5vw;
        color: white;
        border-radius: 2rem;
        text-align: center;
        vertical-align: auto;
        line-height: 25vw;
        margin-bottom: 7vh;
    }
    .email{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22vw;
        height: 5vw;
        background-color:#091868;
        font-size: 2vw;
        color: white;
        text-align: center;
        vertical-align: auto;
        line-height: 5vw;
        border-radius: 1.25rem;
    }
    .email-logo{
        margin-right: 1vw;
        height: 4vh;
    }
.box{
    width: 2vw;
    height: 20vh;
    background-color:#091868;
    margin-left: auto;
}
    .arrow{
        width: 1vw;
        margin-top: 8vh;
        margin-bottom: 10vh;
        margin-left: 0.5vw;
      }
    